/* Layout: split screen */
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* full viewport height */
  width: 100vw;  /* full viewport width */
  background-color: #cfcfcf;
}

/* Left side: map */
.map-container {
  flex: 1.5; /* slightly larger portion for map */
  margin: 20px;
  border: 4px solid rgb(43, 43, 43);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* Right side: content */
.content-container {
  flex: 1;
  margin-left: 20px;
  color: white;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid rgb(43, 43, 43);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  background-color: #265cf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Dashboard design (right) */
.dashboard-right-container {
  flex: 1;
  margin-left: 0; /* prevents double margin */
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid rgb(43, 43, 43);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  background-color: #265cf0;
  display: flex;
  flex-direction: column;
}

/* Dashboard design (left) */
.dashboard-middle-container {
  flex: 1;
  margin-left: 0; /* prevents double margin */
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid rgb(43, 43, 43);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  background-color: #ff5c53;
  display: flex;
  flex-direction: column;
}

/* Margin fix in main screen right side */
.info-layout {
  margin-left: 20px;
  color: white;
}

/* Headers */
h1 {
  font-size: 2rem;
  margin-bottom: 10px;

}

/* Show routes button area */
.card {
  margin-top: 20px;
  display: flex;               /* Make children align horizontally */
  align-items: center;         /* Vertically center them */
  gap: 10px;      

}

/* List of preferences */
.route-preferences-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;  /* <-- KEY FIX */
  padding: 12px;
  border-radius: 8px;

}

/* All buttons */
button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Change color when hovering a button */
button:hover {
  background-color: #005fcc;
}

